.formPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.formPage input[type='submit'] {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
  background-color: #646cff;
  color: #fff;
  transition: all 250ms linear;
}
.formPage input[type='submit']:hover,
.formPage input[type='submit']:focus {
  border-color: #646cff;
  background-color: #fff;
  color: #646cff;
}
.formPage input[type='submit']:disabled {
  background-color: lightgray;
}
.formPage a {
  text-decoration: underline;
  padding: 10px 20px;
  border: 1px solid lightgray;
  border-radius: 20px;
}
