.field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  border-top: 1px solid lightgray;
  padding-top: 10px;
}
.field input,
.field select {
  border-radius: 4px;
  width: 300px;
  padding: 5px;
}
.field input[type='checkbox'] {
  width: 25px;
  height: 25px;
}
.error {
  color: red;
}
