.field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid lightgray;
  padding-top: 8px;
  height: 70px;
}
.field input,
.field select {
  border-radius: 4px;
  width: 300px;
  padding: 5px;
}
.field input[type='checkbox'] {
  width: 25px;
  height: 25px;
}
.error {
  position: absolute;
  bottom: 0;
  color: red;
}
